<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit Data</h1>
    <form action="/edit/<%=id %>" method="post">
        <label>ID</label>
        <input type="integer" name="id" placeholder="ID" value="<%= item.id %>"><br />
        <label>String</label>
        <input type="text" name="string" placeholder="String" value="<%= item.string %>"><br />
        <label>Integer</label>
        <input type="integer" name="integer" placeholder="Integer" value="<%= item.integer %>"><br />
        <label>Float</label>
        <input type="float" name="float" placeholder="Float" value="<%= item.float %>"><br />
        <label>Date</label>
        <input type="text" name="date" placeholder="end date" value="<%= item.date %>"><br />
        <label>Boolean</label>
        <select class="custom-select" name="boolean" value="<%= item.boolean %>" required>
            <option value="">Choose the boolean</option>
            <option value="true" <%= item.boolean ? 'selected' : ''%>>True</option>
            <option value="false" <%=! item.boolean ? 'selected' : ''%>>False</option>
        </select><br />
        <button type="submit">Save</button>
    </form>
    <a href="/"><button>Back</button></a>
</body>

</html>